@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá sejam bem-vindos a Web Api Pessoa</h1>
    <p>Vamos proseguir para conhecer a plataforma</p>
    <a class="btn btn-info" asp-controller="Pessoas1" asp-action="Index">Vamos lá</a>
</div>